In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from mpl_finance import candlestick2_ohlc

In [2]:
with open('../data/benchmark_data.pkl', 'rb') as handle:
    bm = pickle.load(handle)

ibex = bm['ibex']

In [3]:
ibex.head()

              close     high      low     open          vol
2000-01-03  11610.0  11881.8  11574.4  11846.6   60107000.0
2000-01-04  11206.6  11530.0  11159.8  11499.5   62539000.0
2000-01-05  10863.1  11068.1  10824.9  11206.6   68153000.0
2000-01-07  11102.4  11137.9  10882.7  10963.4  144207000.0
2000-01-10  11173.3  11364.3  11120.6  11363.8  133817000.0

In [4]:
ejemplos = pd.read_csv('ejemplos_doble_suelo.csv')
ejemplos.columns = ['fecha','etiqueta']

In [5]:
ejemplos

        fecha  etiqueta
0  2016-01-25       1.0
1  2003-01-07       1.0
2  2015-02-12       0.0
3  2001-02-22       0.0
4  2013-05-09       1.0

Sacamos posición en la que se encuentra la fecha en el índice

In [6]:
idx = ibex.index.get_loc(ejemplos.fecha.iloc[1])
idx

754

Con el índice numérico reconstruimos la ventana

In [8]:
win_data = ibex.iloc[idx:idx+30]
win_data.head()

             close    high     low    open          vol
2003-01-07  6349.3  6385.3  6299.2  6349.9  125577000.0
2003-01-08  6377.2  6466.3  6309.8  6315.6  152688000.0
2003-01-09  6433.0  6446.8  6237.4  6330.6  121067000.0
2003-01-10  6438.9  6475.6  6347.0  6414.4  142801000.0
2003-01-13  6534.7  6576.2  6467.7  6469.9  133614000.0

In [9]:
win_data.close.iloc[-1]/win_data.close.iloc[0] - 1

-0.04195738112862846

In [10]:
def retorno_ventana(data):
    r = data.close.iloc[-1]/data.close.iloc[0] - 1
    return r

In [11]:
retorno_ventana(win_data)

-0.04195738112862846