## Introducción al Machine Learning 
### Selección de Caracteristicas

Este cuaderno muestra un ejemplo de selección de características con la funcionalidad que provee sklearn

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import scale
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import RFECV

In [7]:
bank = pd.read_csv('../data/bank.csv', sep=";")

In [36]:
raw_features = bank.drop(columns='y')
features = pd.get_dummies(raw_features)

In [15]:
target = bank.y
features

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,1787,19,79,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,33,4789,11,220,1,339,4,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,35,1350,16,185,1,330,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,30,1476,3,199,4,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,5,226,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,-333,30,329,5,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4517,57,-3313,9,153,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4518,57,295,19,151,11,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4519,28,1137,6,129,4,211,3,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4520,44,1136,3,345,2,249,7,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [16]:
x_train, x_test, y_train, y_test = train_test_split(features,
                                                    target,
                                                    test_size=0.3,
                                                    stratify=target)

In [18]:
knn = KNeighborsClassifier()

In [23]:
from sklearn.ensemble import RandomForestClassifier
rforest = RandomForestClassifier()

In [24]:
selector = RFECV(estimator=rforest, 
                 step=1,
                 cv=5)

In [25]:
selector.fit(features, target)

RFECV(cv=5, estimator=RandomForestClassifier())

Características que han sido seleccionadas

In [30]:
pd.Series(selector.get_support(), index=features.columns)

age                     True
balance                 True
day                     True
duration                True
campaign                True
pdays                   True
previous                True
job_admin.              True
job_blue-collar         True
job_entrepreneur       False
job_housemaid          False
job_management          True
job_retired             True
job_self-employed      False
job_services            True
job_student            False
job_technician          True
job_unemployed         False
job_unknown            False
marital_divorced        True
marital_married         True
marital_single          True
education_primary       True
education_secondary     True
education_tertiary      True
education_unknown      False
default_no             False
default_yes            False
housing_no              True
housing_yes             True
loan_no                 True
loan_yes                True
contact_cellular        True
contact_telephone      False
contact_unknown         True
month_apr               True
month_aug               True
month_dec              False
month_feb               True
month_jan              False
month_jul               True
month_jun               True
month_mar               True
month_may               True
month_nov               True
month_oct               True
month_sep              False
poutcome_failure        True
poutcome_other         False
poutcome_success        True
poutcome_unknown        True
dtype: bool

In [33]:
selector.n_features_

37